#floatingBarsG{

	 height: 74px;
    left: 72%;
    position: relative;
    top: -5%;
    width: 60px;
    display: none;
}

.blockG{
position:absolute;
background-color:#A82243;
width:10px;
height:24px;
-moz-border-radius:8px 8px 0 0;
-moz-transform:scale(0.4);
-moz-animation-name:fadeG;
-moz-animation-duration:0.96s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:8px 8px 0 0;
-webkit-transform:scale(0.4);
-webkit-animation-name:fadeG;
-webkit-animation-duration:0.96s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:8px 8px 0 0;
-ms-transform:scale(0.4);
-ms-animation-name:fadeG;
-ms-animation-duration:0.96s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:8px 8px 0 0;
-o-transform:scale(0.4);
-o-animation-name:fadeG;
-o-animation-duration:0.96s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:8px 8px 0 0;
transform:scale(0.4);
animation-name:fadeG;
animation-duration:0.96s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#rotateG_01{
left:0;
top:28px;
-moz-animation-delay:0.36s;
-moz-transform:rotate(-90deg);
-webkit-animation-delay:0.36s;
-webkit-transform:rotate(-90deg);
-ms-animation-delay:0.36s;
-ms-transform:rotate(-90deg);
-o-animation-delay:0.36s;
-o-transform:rotate(-90deg);
animation-delay:0.36s;
transform:rotate(-90deg);
}

#rotateG_02{
left:8px;
top:10px;
-moz-animation-delay:0.48s;
-moz-transform:rotate(-45deg);
-webkit-animation-delay:0.48s;
-webkit-transform:rotate(-45deg);
-ms-animation-delay:0.48s;
-ms-transform:rotate(-45deg);
-o-animation-delay:0.48s;
-o-transform:rotate(-45deg);
animation-delay:0.48s;
transform:rotate(-45deg);
}

#rotateG_03{
left:26px;
top:3px;
-moz-animation-delay:0.6s;
-moz-transform:rotate(0deg);
-webkit-animation-delay:0.6s;
-webkit-transform:rotate(0deg);
-ms-animation-delay:0.6s;
-ms-transform:rotate(0deg);
-o-animation-delay:0.6s;
-o-transform:rotate(0deg);
animation-delay:0.6s;
transform:rotate(0deg);
}

#rotateG_04{
right:8px;
top:10px;
-moz-animation-delay:0.72s;
-moz-transform:rotate(45deg);
-webkit-animation-delay:0.72s;
-webkit-transform:rotate(45deg);
-ms-animation-delay:0.72s;
-ms-transform:rotate(45deg);
-o-animation-delay:0.72s;
-o-transform:rotate(45deg);
animation-delay:0.72s;
transform:rotate(45deg);
}

#rotateG_05{
right:0;
top:28px;
-moz-animation-delay:0.8400000000000001s;
-moz-transform:rotate(90deg);
-webkit-animation-delay:0.8400000000000001s;
-webkit-transform:rotate(90deg);
-ms-animation-delay:0.8400000000000001s;
-ms-transform:rotate(90deg);
-o-animation-delay:0.8400000000000001s;
-o-transform:rotate(90deg);
animation-delay:0.8400000000000001s;
transform:rotate(90deg);
}

#rotateG_06{
right:8px;
bottom:7px;
-moz-animation-delay:0.96s;
-moz-transform:rotate(135deg);
-webkit-animation-delay:0.96s;
-webkit-transform:rotate(135deg);
-ms-animation-delay:0.96s;
-ms-transform:rotate(135deg);
-o-animation-delay:0.96s;
-o-transform:rotate(135deg);
animation-delay:0.96s;
transform:rotate(135deg);
}

#rotateG_07{
bottom:0;
left:26px;
-moz-animation-delay:1.0799999999999998s;
-moz-transform:rotate(180deg);
-webkit-animation-delay:1.0799999999999998s;
-webkit-transform:rotate(180deg);
-ms-animation-delay:1.0799999999999998s;
-ms-transform:rotate(180deg);
-o-animation-delay:1.0799999999999998s;
-o-transform:rotate(180deg);
animation-delay:1.0799999999999998s;
transform:rotate(180deg);
}

#rotateG_08{
left:8px;
bottom:7px;
-moz-animation-delay:1.2s;
-moz-transform:rotate(-135deg);
-webkit-animation-delay:1.2s;
-webkit-transform:rotate(-135deg);
-ms-animation-delay:1.2s;
-ms-transform:rotate(-135deg);
-o-animation-delay:1.2s;
-o-transform:rotate(-135deg);
animation-delay:1.2s;
transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#402740}

100%{
background-color:#A82243}

}

@-webkit-keyframes fadeG{
0%{
background-color:#402740}

100%{
background-color:#A82243}

}

@-ms-keyframes fadeG{
0%{
background-color:#402740}

100%{
background-color:#A82243}

}

@-o-keyframes fadeG{
0%{
background-color:#402740}

100%{
background-color:#A82243}

}

@keyframes fadeG{
0%{
background-color:#402740}

100%{
background-color:#A82243}

}